.service-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 5%;
    margin-top: 5%;
    
}
.button{
    width: 200px;
    height: 60px;
    left: 848px;
    top: 2029px;
    background: #2397CD;
    border-radius: 25px;
    
}

.serviceheading{
    text-align: center;
    font-weight: 600;
    font-size: 30px;
    color: white;
    letter-spacing: 5px;
}

@media only screen and (max-width: 576px) {
    .service-container{
        grid-template-columns: repeat(1, 1fr);
      
    }
}