
.ellipse1{
    height: 403.1461181640625px;
    width: 403.1461181640625px;
    left: 1078px;
    top: 301.9775390625px;
  

}

.ellipse2{
    position: relative;
width: 540.34px;
height: 540.34px;
left: 1159.4px;
top: 383.38px;

}
.heading{
    color: #28ACE2;
}
.heading2{
    color: #CBF231;
}

.infotext{
    color: #28ACE2;
}

.heading{
    
}

.bestText{
    color: #CBF231;
}